  <section class=jumbotron>
    <h1><%= @contest.name %></h1>

    <hr />

    <% if @contest.started_at %>
      <h2>started at <%= @contest.started_at.to_s %></h2
    <% else %>

    <div class='btn-toolbar justify-content-between'>
      <div class='btn-group'>
        <%= link_to "Edit Contest", edit_admin_contest_path, class: 'btn btn-secondary' %>
        <%= link_to 'Create Problem', new_admin_problem_path, class: 'btn btn-secondary' %>
        <%= link_to 'Manage Teams', admin_teams_path, class: 'btn btn-secondary' %>
      </div>

      <div class='input-group'>
        <%= button_to "Start Contest", admin_start_contest_path, method: 'put', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  </section>

<ul>
  <li><%= link_to("#{@contest.teams.count} Teams", '#') %></li>
  <li><%= link_to("#{@contest.problems.count} Problems", admin_problems_path) %></li>
  <li><%= link_to("#{Submission.count} Submissions", '#') %></li>
</ul>
