<section class=jumbotron>
  <h1><%= @contest.name %></h1>

  <hr />

  <% if @contest.started_at %>
    <h2>started at <%= @contest.started_at.to_s %></h2>

    <div class='btn-toolbar justify-content-between'>
      <%= link_to "Scoreboard", admin_contest_scoreboard_path, class: 'btn btn-primary' %>

      <div class='btn-group'>
        <span class='input-group-addon'><%= @contest.problems.count %></span>
        <%= link_to 'Problems', admin_problems_path, class: 'btn btn-secondary' %>
      </div>
      <div class='btn-group'>
        <span class='input-group-addon'><%= @contest.accounts.count %></span>
        <%= link_to 'Accounts', admin_accounts_path, class: 'btn btn-secondary' %>
      </div>
      <div class='btn-group'>
        <span class='input-group-addon'><%= Submission.count %></span>
        <%= link_to 'Submissions', "#",
          disabled: !@contest.in_progress?,
          class: "btn btn-secondary #{'disabled' unless @contest.in_progress?}" %>
      </div>

      <div class='input-group'>
        <%= button_to "Stop Contest", "#", method: 'put', class: 'btn btn-danger disabled' %>
      </div>
    </div>

  <% else %>

    <div class='btn-toolbar justify-content-between'>
      <%= link_to "Edit Contest", edit_admin_contest_path, class: 'btn btn-secondary' %>

      <div class='btn-group'>
        <span class='input-group-addon'><%= @contest.problems.count %></span>
        <%= link_to 'Problems', admin_problems_path, class: 'btn btn-secondary' %>
      </div>
      <div class='btn-group'>
        <span class='input-group-addon'><%= @contest.accounts.count %></span>
        <%= link_to 'Accounts', admin_accounts_path, class: 'btn btn-secondary' %>
      </div>
      <div class='btn-group'>
        <span class='input-group-addon'><%= Submission.count %></span>
        <%= link_to 'Submissions', "#", class: 'btn btn-secondary disabled' %>
      </div>

      <div class='input-group'>
        <%= button_to "Start Contest", admin_start_contest_path, method: 'put', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</section>
