<%= simple_form_for [:admin, @problem] do |form| %>
  <div class="form-controls">
    <%= form.input :name %>
    <%= form.input :description, type: :text %>
    <%= form.association :attachments, as: :file, label: 'Source file' %>
  </div>

  <div class="form-actions">
    <%= form.button :submit %>
  </div>
<% end %>
