<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<%= @current_admin %>
<%= simple_form_for :session, url: admin_login_path do |f| %>
  <%= f.input :username, :required =>false, :label => 'Username',:placeholder => 'Username' %>
  <%= f.input :password, :required =>false, :label => 'Password',:placeholder => 'Password' %>


  <%= f.button :submit, "Log in", class: "btn btn-primary" %>
<% end %>

<%= link_to('Logout', admin_logout_path, :method => :delete, class: "btn btn-primary")%>
