<h1>Submission</h1>

<dl>
  <dt>Account:</dt>
  <dd><%= @submission.account.name %></dd>

  <dt>Problem:</dt>
  <dd><%= @submission.problem.name %></dd>

  <dt>Submitted File:</dt>
  <dd>
    <%= @submission.attachment.original_filename %>
    (<%= @submission.attachment.path.size %> bytes)
  </dd>

  <dt>Created At:</dt>
  <dd><%= @submission.created_at %></dd>

  <dt>Status:</dt>
  <dd><%= @submission.status %></dd>
</dl>
