<table class='table table-striped'>
  <thead>
    <tr>
      <th>Team</th>
      <% @presenter.problems.each.with_index do |problem, index| %>
        <th><%= index + 1 %></th>
      <% end %>
      <th>Score</th>
      <th>Time + Penalty</th>
    </tr>
  </thead>
  <tbody>
    <% @presenter.ranked_teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <% @presenter.problems.each do |problem| %>
          <td><%= @presenter.attempts(team: team, problem: problem) %></td>
        <% end %>
        <td><%= @presenter.score(team: team) %></td>
        <td><%= @presenter.time_plus_penalty(team: team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
